In [2]:
#Import libraries
import json
import gzip
import pandas as pd

In [12]:
# Importing electricity sales data
elec_sales_df = pd.read_json('source_data/ElectricitySales_2023_AllSectorsMinusTrans.json', orient='records', dtype=False)

In [13]:
elec_sales_df.head()

,period,stateid,stateDescription,sectorid,sectorName,customers,price,revenue,sales,customers-units,price-units,revenue-units,sales-units
0,2023,AK,Alaska,ALL,all sectors,357119,21.39,1283.90142,6003.63966,number of customers,cents per kilowatthour,million dollars,million kilowatthours
1,2023,AK,Alaska,RES,residential,298426,23.89,488.93037,2046.18113,number of customers,cents per kilowatthour,million dollars,million kilowatthours
2,2023,AK,Alaska,OTH,other,NaN,NaN,NaN,NaN,number of customers,cents per kilowatthour,million dollars,million kilowatthours
3,2023,AK,Alaska,IND,industrial,1183,18.74,259.18168,1382.99739,number of customers,cents per kilowatthour,million dollars,million kilowatthours
4,2023,AK,Alaska,COM,commercial,57510,20.81,535.78938,2574.46114,number of customers,cents per kilowatthour,million dollars,million kilowatthours

In [14]:
elec_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   period            310 non-null    object
 1   stateid           310 non-null    object
 2   stateDescription  310 non-null    object
 3   sectorid          310 non-null    object
 4   sectorName        310 non-null    object
 5   customers         248 non-null    object
 6   price             248 non-null    object
 7   revenue           248 non-null    object
 8   sales             248 non-null    object
 9   customers-units   310 non-null    object
 10  price-units       310 non-null    object
 11  revenue-units     310 non-null    object
 12  sales-units       310 non-null    object
dtypes: object(13)
memory usage: 31.6+ KB

In [9]:
# Importing electicity generation data
elec_gen_df = pd.read_json('source_data/ElectricityGenFuelTypes_State-Monthly-2023.json', orient='records')

In [10]:
elec_gen_df.head()

,period,location,stateDescription,sectorid,sectorDescription,fueltypeid,fuelTypeDescription,consumption-for-eg,consumption-for-eg-units,consumption-for-eg-btu,...,receipts,receipts-units,receipts-btu,receipts-btu-units,stocks,stocks-units,total-consumption,total-consumption-units,total-consumption-btu,total-consumption-btu-units
0,2023-01,AK,Alaska,99,All Sectors,COW,all coal products,44.714,thousand short tons,0.66870,...,27.938,thousand short tons,417.0614,billion Btu,NaN,thousand short tons,90.558,thousand short tons,1.35636,million MMBtu
1,2023-01,AK,Alaska,99,All Sectors,AOR,all renewables,0.000,thousand physical units,0.07494,...,NaN,thousand physical units,NaN,billion Btu,NaN,thousand physical units,0.000,thousand physical units,0.07494,million MMBtu
2,2023-01,AK,Alaska,99,All Sectors,ALL,all fuels,0.000,thousand physical units,4.59356,...,NaN,thousand physical units,NaN,billion Btu,NaN,thousand physical units,0.000,thousand physical units,5.36674,million MMBtu
3,2023-01,AK,Alaska,99,All Sectors,REN,renewable,64.657,thousand physical units,0.49845,...,NaN,thousand physical units,NaN,billion Btu,NaN,thousand physical units,64.657,thousand physical units,0.49845,million MMBtu
4,2023-01,AK,Alaska,99,All Sectors,PET,petroleum,151.182,thousand barrels,0.75598,...,1.365,thousand barrels,7.6440,billion Btu,NaN,thousand barrels,156.948,thousand barrels,0.78669,million MMBtu

In [15]:
# Exporting the datas
elec_sales_df.to_csv('output_data/ElectricitySales_Monthly_2023.csv')
elec_gen_df.to_csv('output_data/ElectricityGen_Monthly_2023.csv')